/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #3c6d6d;
  color: #1c1c1c;
  line-height: 1.6;
}

/* Encabezado con slider */
.slider-header {
  position: relative;
  height: 80vh;
  overflow: hidden;
  border-bottom: 4px solid #004d40;
}

.curiosidades-lista {
  padding-left: 1.5rem;
  background-color: #688a8f;
  border-left: 4px solid #00796b;
  border-radius: 8px;
  margin-top: 1rem;
}

.curiosidades-lista li {
  margin-bottom: 0.75rem;
  font-size: 1.05rem;
}


.slider-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* Texto sobre imagen */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  color: white;
  z-index: 2;
}

.overlay h1 {
  font-size: 2.2rem;
}

/* Transición para imágenes */
.fade-out {
  opacity: 0;
}

.container {
  max-width: 960px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #949494;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

h2, h3 {
  color: #00695c;
  margin-bottom: 1rem;
}

ul {
  list-style: disc;
  padding-left: 1.5rem;
  margin-bottom: 2rem;
}

li {
  margin-bottom: 0.75rem;
  font-size: 1.1rem;
}

strong {
  color: #004d40;
}

/* Curiosidades */
.curiosidades p {
  font-size: 1.05rem;
  background: #e0f2f1;
  padding: 1rem;
  border-left: 4px solid #26a69a;
  border-radius: 6px;
}

/* Responsividad */
@media (max-width: 768px) {
  .slider-header {
    height: 40vh;
  }

  .overlay h1 {
    font-size: 1.5rem;
  }

  .container {
    padding: 1rem;
  }

  li {
    font-size: 1rem;
  }

  .curiosidades p {
    font-size: 1rem;
  }
}
